@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --bg-page-primary: #ededed;
    --bg-page-second: #ffffff;

    --theme-color: #6967ab;

    --text-black: #000000;
    --text-white: #fff;
    --text-dark: #2c2c2c;
    --text-light: #ffffff;

    --light-green: #868b5d;
    --brown: #94744f;
    --green: #558156;
}

:root[data-theme="light-green"] {
    --theme-color: #868b5d;
}
:root[data-theme="brown"] {
    --theme-color: #94744f;
}
:root[data-theme="green"] {
    --theme-color: #558156;
}

body {
    background-color: var(--bg-page-primary);
    transition: color 0.1s ease;
}
